.Main-Div-Checkout {
  align-items: center;
  background-color: rgb(253, 253, 253);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 100px;
  width: 100vw;
}

table {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

td {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.Board-Checkout {
  align-items: center;
  background-color: #dc8522;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: max-content;
}

.Btn-Remove {
  background-color: #7f3d13;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  padding : 10px;
}

.Btn-Remove:hover {
  cursor: pointer;
  opacity: 0.8;
}

.Legend-Checkout {
  align-content: center;
  align-items: center;
  background-color: #dc8522;
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  margin-top: 600px;
  padding: 145px;
  text-align: center;
  width: 570px;
}


.Board-Checkout-Payment {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-evenly;
  padding: 40px;
}

.Btn-Checkout {
  align-self: center;
  background-color: #7f3d13;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: space-around;
  padding : 10px;
  width: 150px;
}

.Btn-Checkout:hover {
  cursor: pointer;
  opacity: 0.8;
}

.Input-Checkout {
  padding : 5px;
}

.Legend-Checkout-H1 {
  background-color: #7f3d13;
  border: #7f3d13 solid 2px;
  border-radius: 50%;
  font-size: larger;
  padding: 15px;
}

.Btn-Checkout:disabled {
  background-color: rgb(232, 232, 232);
  color: red;
}
