@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap') ;


* {
  box-sizing: border-box;
  font-family: Inter Tight , sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.Body-LoginRegister {
  align-items: center;
  background-image: url('https://afresp.org.br/wp-content/uploads/2021/12/cerveja-site.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding-right: 600px;
  width: 100vw;
}

.LoginRegister-Form {
  align-items: center;
  background-color: #dc8522;
  border-radius: 10%;
  box-shadow: 0 0 30px #7a635e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 35px;
  width: 500px;
}

.LoginRegister-Form > h1 {
  color: #7f3d13;
  font-weight: 900;
  text-transform: capitalize;
}

.Input-LoginRegister {
  color: #7f3d13;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 100%;
}


.Input-LoginRegister > input {
  background-color: white;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 15px;
  width: 100%;
}

.Bttn-LoginRegister {
  background-color: #faa145;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 10px 0;
  outline: none;
  padding: 16px 0;
  text-transform: uppercase;
  width: 100%;
}

.Bttn-LoginRegister:hover {
  background-color: #7f3d13;
  opacity: 0.9;
}

.Bttn-LoginRegister:disabled {
  background-color: rgb(232, 232, 232);
  color: red;
  cursor: not-allowed;
}

.Bttn-Register {
  background-color: #faa145;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin: 10px 0;
  outline: none;
  padding: 16px 0;
  text-transform: uppercase;
  width: 100%;
}

.Bttn-Register:hover {
  background-color: #7f3d13;
  opacity: 0.9;
}
